# Salarios

In [2]:
library(ISLR)

In [4]:
head(Wage)

       year age maritl           race     education       region
231655 2006 18  1. Never Married 1. White 1. < HS Grad    2. Middle Atlantic
86582  2004 24  1. Never Married 1. White 4. College Grad 2. Middle Atlantic
161300 2003 45  2. Married       1. White 3. Some College 2. Middle Atlantic
155159 2003 43  2. Married       3. Asian 4. College Grad 2. Middle Atlantic
11443  2005 50  4. Divorced      1. White 2. HS Grad      2. Middle Atlantic
376662 2008 54  2. Married       1. White 4. College Grad 2. Middle Atlantic
       jobclass       health         health_ins logwage  wage
231655 1. Industrial  1. <=Good      2. No      4.318063  75.04315
86582  2. Information 2. >=Very Good 2. No      4.255273  70.47602
161300 1. Industrial  1. <=Good      1. Yes     4.875061 130.98218
155159 2. Information 2. >=Very Good 1. Yes     5.041393 154.68529
11443  2. Information 1. <=Good      1. Yes     4.318063  75.04315
376662 2. Information 2. >=Very Good 1. Yes     4.845098 127.11574

In [61]:
ols <- lm(logwage~poly(age,3)*maritl+race+jobclass+health+health_ins, data = Wage)

In [62]:
summary(ols)

Call:
lm(formula = logwage ~ poly(age, 3) * maritl + race + jobclass +
    health + health_ins, data = Wage)

Residuals:
     Min       1Q   Median       3Q      Max
-1.58219 -0.16951 -0.00599  0.17606  1.25364

Coefficients:
                                 Estimate Std. Error t value Pr(>|t|)
(Intercept)                       4.50907    0.01994 226.182  < 2e-16 ***
poly(age, 3)1                     1.12868    0.95307   1.184 0.236402
poly(age, 3)2                    -2.56548    0.88017  -2.915 0.003586 **
poly(age, 3)3                     1.92528    0.68351   2.817 0.004883 **
maritl2. Married                  0.13594    0.01823   7.456 1.16e-13 ***
maritl3. Widowed                 -0.02899    0.09135  -0.317 0.750986
maritl4. Divorced                -0.00696    0.03411  -0.204 0.838308
maritl5. Separated                0.03471    0.04685   0.741 0.458760
race2. Black                     -0.06808    0.01892  -3.598 0.000326 ***
race3. Asian                      0.04674    0.02273   2.056 0.039859 *
race4. Other                     -0.10779    0.04998  -2.157 0.031109 *
jobclass2. Information            0.09515    0.01125   8.460  < 2e-16 ***
health2. >=Very Good              0.09536    0.01243   7.670 2.31e-14 ***
health_ins2. No                  -0.21698    0.01236 -17.556  < 2e-16 ***
poly(age, 3)1:maritl2. Married    1.82004    1.06806   1.704 0.088473 .
poly(age, 3)2:maritl2. Married   -0.97594    1.00863  -0.968 0.333328
poly(age, 3)3:maritl2. Married   -1.09241    0.82580  -1.323 0.185986
poly(age, 3)1:maritl3. Widowed    6.61210    6.68025   0.990 0.322353
poly(age, 3)2:maritl3. Widowed   -1.89654    6.64320  -0.285 0.775291
poly(age, 3)3:maritl3. Widowed   -1.05979    4.61367  -0.230 0.818336
poly(age, 3)1:maritl4. Divorced   3.12886    2.32560   1.345 0.178601
poly(age, 3)2:maritl4. Divorced  -0.26766    2.16271  -0.124 0.901511
poly(age, 3)3:maritl4. Divorced   0.63694    1.73818   0.366 0.714061
poly(age, 3)1:maritl5. Separated  2.57234    3.89849   0.660 0.509415
poly(age, 3)2:maritl5. Separated  2.44023    4.10990   0.594 0.552728
poly(age, 3)3:maritl5. Separated -4.22677    5.03805  -0.839 0.401554
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.3001 on 2974 degrees of freedom
Multiple R-squared:  0.2783,	Adjusted R-squared:  0.2722
F-statistic: 45.87 on 25 and 2974 DF,  p-value: < 2.2e-16

In [69]:
ols <- lm(logwage~poly(age,3)+maritl+as.factor(year)+race+jobclass+health+health_ins, data = Wage)

In [70]:
summary(ols)

Call:
lm(formula = logwage ~ poly(age, 3) + maritl + as.factor(year) +
    race + jobclass + health + health_ins, data = Wage)

Residuals:
     Min       1Q   Median       3Q      Max
-1.57123 -0.16944 -0.00534  0.17444  1.23454

Coefficients:
                        Estimate Std. Error t value Pr(>|t|)
(Intercept)             4.475636   0.021344 209.694  < 2e-16 ***
poly(age, 3)1           2.548425   0.349711   7.287 4.03e-13 ***
poly(age, 3)2          -2.917938   0.319242  -9.140  < 2e-16 ***
poly(age, 3)3           0.925435   0.303679   3.047 0.002328 **
maritl2. Married        0.118762   0.016040   7.404 1.71e-13 ***
maritl3. Widowed        0.013196   0.070535   0.187 0.851606
maritl4. Divorced      -0.011972   0.025921  -0.462 0.644214
maritl5. Separated      0.006372   0.042842   0.149 0.881766
as.factor(year)2004     0.031219   0.018996   1.643 0.100390
as.factor(year)2005     0.050767   0.019377   2.620 0.008838 **
as.factor(year)2006     0.081698   0.020095   4.066 4.92e-05 ***
as.factor(year)2007     0.067405   0.020202   3.337 0.000858 ***
as.factor(year)2008     0.074888   0.020130   3.720 0.000203 ***
as.factor(year)2009     0.093019   0.020146   4.617 4.05e-06 ***
race2. Black           -0.072502   0.018765  -3.864 0.000114 ***
race3. Asian            0.045123   0.022641   1.993 0.046355 *
race4. Other           -0.109556   0.049699  -2.204 0.027573 *
jobclass2. Information  0.093880   0.011199   8.383  < 2e-16 ***
health2. >=Very Good    0.097487   0.012362   7.886 4.34e-15 ***
health_ins2. No        -0.217629   0.012269 -17.738  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.2989 on 2980 degrees of freedom
Multiple R-squared:  0.2824,	Adjusted R-squared:  0.2778
F-statistic: 61.72 on 19 and 2980 DF,  p-value: < 2.2e-16